
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutformem.cshtml";
}

<span style="        margin: 0;
      position: absolute;
      margin-left: 25%;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: xx-large;
      color:white;
      "><b>Library Managment system </b></span>

